
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider-area slider-bg ">
    <!-- Single Slider -->
    <div class="single-slider d-flex align-items-center slider-height3">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 ">
                    <div class="hero__caption hero__caption3 text-center">
                        <h1 data-animation="fadeInLeft" data-delay=".6s ">Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
    </div>
</div>
<!-- Slider Area End -->
<!-- Hero Area End-->
<!--? Blog Area Start-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/Site/assets/img/blog/single_blog_1.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Mart</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>
                                That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Demir</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 2 Yorum</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/Site/assets/img/blog/single_blog_2.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Mart</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>
                                That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Oruç</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 3 Yorum</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/Site/assets/img/blog/single_blog_3.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Şubat</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>
                                That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> Han</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 5 Yorum</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/Site/assets/img/blog/single_blog_4.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>18</h3>
                                <p>Kasım</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>
                                That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> OHK</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 7 Yorum</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="~/Content/Site/assets/img/blog/single_blog_5.png" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>15</h3>
                                <p>Aralık</p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="blog_details.html">
                                <h2 class="blog-head" style="color: #2d2d2d;">Google inks pact for new 35-storey office</h2>
                            </a>
                            <p>
                                That dominion stars lights dominion divide years for fourth have don't stars is that
                                he earth it first without heaven in place seed it second morning saying.
                            </p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> OHK</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 7 Yorum</a></li>
                            </ul>
                        </div>
                    </article>
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Geri">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item active">
                                <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="İleri">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Aranacak kelime..'
                                           onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Aranacak kelime..'">
                                    <div class="input-group-append">
                                        <button class="btns" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">
                                ARA
                            </button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Kategoriler</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Yazılım</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Tasarım</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Modern Teknoloji</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Ürün</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Motivasyon</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Sağlık</p>
                                    <p>(09)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title" style="color: #2d2d2d;">Son Bloglar</h3>
                        <div class="media post_item">
                            <img src="~/Content/Site/assets/img/post/post_1.png" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3 style="color: #2d2d2d;">Yazılım geliştirmek artık çok kolay...</h3>
                                </a>
                                <p>12 Mart, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Content/Site/assets/img/post/post_2.png" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3 style="color: #2d2d2d;">Yazılım geliştirmek artık çok kolay...</h3>
                                </a>
                                <p>12 Mart, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Content/Site/assets/img/post/post_3.png" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3 style="color: #2d2d2d;">Yazılım geliştirmek artık çok kolay...</h3>
                                </a>
                                <p>12 Mart, 2019</p>
                            </div>
                        </div>
                        <div class="media post_item">
                            <img src="~/Content/Site/assets/img/post/post_4.png" alt="post">
                            <div class="media-body">
                                <a href="blog_details.html">
                                    <h3 style="color: #2d2d2d;">Yazılım geliştirmek artık çok kolay...</h3>
                                </a>
                                <p>12 Mart, 2019</p>
                            </div>
                        </div>
                    </aside>
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Etiklerler</h4>
                        <ul class="list">
                            <li>
                                <a href="#">Proje</a>
                            </li>
                            <li>
                                <a href="#">Yazılım</a>
                            </li>
                            <li>
                                <a href="#">Web</a>
                            </li>
                            <li>
                                <a href="#">Web Tasarım</a>
                            </li>
                            <li>
                                <a href="#">Logo</a>
                            </li>
                            <li>
                                <a href="#">SEO</a>
                            </li>
                            <li>
                                <a href="#">Google</a>
                            </li>
                            <li>
                                <a href="#">Adobe</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title" style="color: #2d2d2d;">Instagram Postları</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/Site/assets/img/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/Site/assets/img/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/Site/assets/img/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/Site/assets/img/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/Site/assets/img/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="~/Content/Site/assets/img/post/post_10.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title" style="color: #2d2d2d;">Haber Bülteni</h4>
                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'E-Posta Adresiniz'" placeholder='E-Posta Adresiniz' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">
                           Abone Ol
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>

