
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider-area slider-bg ">
    <!-- Single Slider -->
    <div class="single-slider d-flex align-items-center slider-height3">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 ">
                    <div class="hero__caption hero__caption3 text-center">
                        <h1 data-animation="fadeInLeft" data-delay=".6s ">Kayıt Ol</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
    </div>
</div>


<section class="form-contact">


    <form action="" method="post">
        <div class="imgcontainer">
            <img src="# "alt="OHK" class="avatar">
        </div>

        <div class="container">
            <label for="uname"><b>İsim</b></label>
            <input type="text" placeholder="İsim " name="uname" required="">
            <label for="uname"><b>Soyisim</b></label>
            <input type="text" placeholder="Soyisim " name="uname" required="">
            <label for="uname"><b>E-Posta Adresi</b></label>
            <input type="text" placeholder="E-Posta Adresi" name="uname" required="">
            <label for="psw"><b>Şifre</b></label>
            <input type="password" placeholder="Şifre" name="psw" required="">


            <button style="background-color:goldenrod;" type="submit">Kayıt Ol</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Beni Hatırlama
            </label>
            <span style="padding:2px;" class="psw"> <a style="color:gold" href="#"> Zaten hesabın var mı ? </a></span>

        </div>



    </form>
</section>

