
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider-area slider-bg ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-9 ">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".3s">Bütçenizi ve almak istediğiniz hizmeti belirterek size en uygun hizmetleri alabilirsiniz.</span>
                            <h1 data-animation="fadeInLeft" data-delay=".6s ">Bütçenize uygun hizmetler</h1>
                            <p data-animation="fadeInLeft" data-delay=".8s">Dinamik ve statik websiteleri ,Masaüstü programları, Stok takip otomasyonu,E-ticaret otomasyonu,SEO içerik,Sosyal Medya,Logo Tasarım ve dahası</p>
                            <!-- Slider btn -->
                            <div>
                                <a class="btn btn-default"  href="/Services/Index/">Hizmetler</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right">
                            <img src="~/Content/Site/assets/img/hero/hero-right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider d-flex align-items-center slider-height ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-9 ">
                        <div class="hero__caption">
                            <span data-animation="fadeInLeft" data-delay=".3s">Kaliteli ve ucuz web & logo & içerik hizmetleri</span>
                            <h1 data-animation="fadeInLeft" data-delay=".6s">Kaliteli web hizmetleri</h1>
                            <p data-animation="fadeInLeft" data-delay=".8s">Dinamik ve statik websiteleri ,Masaüstü programları, Stok takip otomasyonu,E-ticaret otomasyonu,SEO içerik,Sosyal Medya,Logo Tasarım</p>
                            <!-- Slider btn -->
                            <div class="slider-btns">
                                <!-- Hero-btn -->
                                <a data-animation="fadeInLeft" data-delay="1s" href="#domain-search-area" class="btn radius-btn">başla</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero__img d-none d-lg-block f-right">
                            <img src="~/Content/Site/assets/img/hero/hero-right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Shape -->
    <div class="slider-shape d-none d-lg-block">
        <img class="slider-shape1" src="~/Content/Site/assets/img/hero/top-left-shape.png" alt="">
    </div>
</div>
<!-- Slider Area End -->
<!-- Domain-search start -->
<div class="domain-search-area section-bg1">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <h2>Yeni bir hizmeti ara</h2>
                <p>Tüm hizmetlerde ürünü sepete ekledikten sonra bir bütçe ve istenilen hizmet ile ilgili bilgiler girilir.Sonrasında bütçe ve hizmet talebinizi gönderirsiniz ve sonrasında onaylanırsa ödeme işlemi yapmanız gerekir.</p>
            </div>
            <div class="col-xl-8 col-lg-7">
                <!--Hero form -->
                <form action="#" class="search-box">
                    <div class="input-form">
                        <input type="text" placeholder="Kaliteli ve hızlı hizmete ulaş">
                        <!-- icon search -->
                        <div class="search-form">
                            <button><i class="ti-search"></i></button>
                        </div>
                        <!-- icon search -->
                        <div class="world-form">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>
                </form>
                <!-- Domain List -->
                <div class="single-domain pt-30 pb-30">
                    <ul>
                        <li><span>Web Geliştirme</span> <p></p></li>
                        <li><span>Web Tasarım</span> <p></p></li>
                        <li><span>SEO</span> <p></p></li>
                        <li><span>Logo</span> <p></p></li>
                    </ul>
                </div>
                <!-- Domain List  End-->
            </div>
        </div>
    </div>
</div>
<!-- Domain-search End -->
<!--? Team -->
<section class="team-area section-padding40 section-bg1">
    <div class="container" id="domain-search-area">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-105">
                    <h2>Hizmet verdiğimiz alanlar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="~/Content/Site/assets/img/icon/services2.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Web Geliştirme</a></h5>
                        <p>Tamamen isteğe bağlı olarak PHP , C# ve Asp.net(MVC,Core,Webform) üzerinden Admin paneli ve veri tabanı yönetimi.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="~/Content/Site/assets/img/icon/services3.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Web Tasarım</a></h5>
                        <p>Kişiye veya kuruma özgü Web Tasarım.Yaptığım tasarımlar tamamen bana ait olup tüm telif hakları kullanacak olan kişilere veya kurumlara aittir.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="~/Content/Site/assets/img/icon/services4.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">SEO İçerik Düzenleme</a></h5>
                        <p>Google için websitenizi ön sırala taşımak ve daha fazla tıklanma almak için düzenlenen içerik çalışması.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="~/Content/Site/assets/img/icon/services5.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Marka Çalışması & Tasarımı</a></h5>
                        <p>Kurumsal kimlik , kartvizit ve marka imajının tasarımı ve düzenlenmesi.Ürünlerin ve hizmetleri görsel açıdan daha iyi yansıtılması ve markanın imajının revize edilmesi.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="~/Content/Site/assets/img/icon/services6.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Logo Tasarım</a></h5>
                        <p>Kişi ve kuruma özgü vektörel ve özgün logo tasarımı.Adobe Illustrator üzerinden yaptığım logolar her platform için uygundur.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-cat">
                    <div class="cat-icon">
                        <img src="~/Content/Site/assets/img/icon/services7.svg" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5><a href="#">Sosyal Medya Tasarımla</a></h5>
                        <p>Sosyal medyada daha fazla etkileşim almak için düzenlenmiş tasarımlar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->
<!--? Pricing Card Start -->
<section class="pricing-card-area fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="section-tittle text-center mb-90">
                    <h2>Sana en uygun planı bul</h2>
                    <p>Tüm hizmetlerde ürünü sepete ekledikten sonra bir bütçe ve istenilen hizmet ile ilgili bilgiler girilir.Sonrasında bütçe ve hizmet talebinizi gönderirsiniz ve sonrasında onaylanırsa ödeme işlemi yapmanız gerekir.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="~/Content/Site/assets/img/icon/services2.svg" alt="">
                        <h4>Web Geliştirme </h4>
                        <p>Başlangıç</p>
                    </div>
                    <div class="card-mid">
                        <h4>999.99 TL<span>/proje</span></h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>PHP</li>
                            <li>Asp.net</li>
                            <li>SQL</li>
                            <li>Html5 & Css3</li>
                            <li>Kullanıma Hazır</li>
                        </ul>
                        <a href="#" class="borders-btn">Teklif Al</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="~/Content/Site/assets/img/icon/services3.svg" alt="">
                        <h4>Web Tasarım</h4>
                        <p>Başlangıç</p>
                    </div>
                    <div class="card-mid">
                        <h4>249.99 TL<span>/proje</span></h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>PHP</li>
                            <li>Asp.net</li>
                            <li>SQL</li>
                            <li>Html5 & Css3</li>
                            <li>Kullanıma Hazır</li>
                        </ul>
                        <a href="#" class="borders-btn">Teklif Al</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                <div class="single-card text-center mb-30">
                    <div class="card-top">
                        <img src="~/Content/Site/assets/img/icon/services4.svg" alt="">
                        <h4>SEO İçerik</h4>
                        <p>Başlangıç </p>
                    </div>
                    <div class="card-mid">
                        <h4>15 TL<span>/ 300 Kelime</span></h4>
                    </div>
                    <div class="card-bottom">
                        <ul>
                            <li>PHP</li>
                            <li>Asp.net</li>
                            <li>SQL</li>
                            <li>Html5 & Css3</li>
                            <li>Kullanıma Hazır</li>
                        </ul>
                        <a href="#" class="borders-btn">Teklif Al</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Card End -->
<!--? About-1 Area Start -->
<div class="about-area1 section-padding40">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->
                <div class="about-img ">
                    <img src="~/Content/Site/assets/img/gallery/about1.png" alt="">
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption ">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2>Responsive ve Hızlı Tasarım</h2>
                    </div>
                    <p class="mb-40">Hızlı teslimat ve hem mobil hem bilgisayara uygun görünümler.Mobil için ayrı şekilde kodlanır.Görseller minify edilir.Kodlar bundle işlemine tabii tutulur ve hızlı biz web site kullanımı sağlar.</p>
                    <ul>
                        <li>
                            <img src="~/Content/Site/assets/img/icon/right.svg" alt="">
                            <p>Html5 & CSS3 kullanılır.</p>
                        </li>
                        <li>
                            <img src="~/Content/Site/assets/img/icon/right.svg" alt="">
                            <p>Animasyon için javascript kullanılır.</p>
                        </li>
                        <li>
                            <img src="~/Content/Site/assets/img/icon/right.svg" alt="">
                            <p>Mobil görünüm için standart mobil cihaz boyutlarına göre tasarlanır.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About-1 Area End -->
<!--? About-2 Area Start -->
<div class="about-area1 pb-bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-7 col-md-12">
                <div class="about-caption about-caption3 mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <h2>Sizin için en iyi destek </h2>
                    </div>
                    <p class="mb-40">7/24 Canlı destek ve mail sistemiyle teknik destek alabilirsiniz.Sorularınız için SSS(Sıkça Sorulan Sorular)alanından kontrol edebilirsiniz eğer ilgili sorununuzun cevabını bulamadıysanız lütfen iletişim den e-posta yollayanız.</p>
                    <ul class="mb-30">
                        <li>
                            <img src="~/Content/Site/assets/img/icon/right.svg" alt="">
                            <p>7/24 Teknik destek</p>
                        </li>
                        <li>
                            <img src="~/Content/Site/assets/img/icon/right.svg" alt="">
                            <p>%100 Müşteri memnuniyeti</p>
                        </li>
                    </ul>
                    <a href="#" class="btn">İletişim</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                <!-- about-img -->

            </div>
        </div>
    </div>
</div>
<!-- About-2 Area End -->
<!-- ask questions -->
<section class="ask-questions section-bg1 section-padding30 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9 col-md-10 ">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-90">
                    <h2>Sıkça Sorulan Sorular</h2>
                    <p>Merhabalar sıkça sorulan sorular alanından merak ettiğiniz çoğu sorunun cevabını bulabilirseniz.Eğer hala bulamadıysanız lütfen bizle iletişime geçiniz.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Sipariş oluşturdum kaç gün içerisinde dönüş yapıcaksınız ve ne zaman ödeme yapacağım?</h2>
                        <p>Belirtmiş olduğunuz bütçe ve hizmet 24 saat içersiinde değerlendirilir.Eğer bütçeniz ve almak istediğiniz hizmet onaylanırsa anında ödeme yapabilirsiniz.Ödeme yaptıktan sonra belirtilen gün içerisinde işiniz teslim edilmektedir.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Bir websitesi yaptırmak istiyorum fakat yaptırdıktan sonra nasıl yayınlacağımı bilmiyorum.</h2>
                        <p>Merhabalar öncelikle websiteniz yapıldıktan sonrasında size bunu nasıl yükleyebileceğinize dair bir rehber hazırlanır.Eğer hala yükleyemiyorsanız bu konuda biz bilgilerinizi alıp yükleyebiliriz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Web sitemi ön sıralara taşımak istiyor bu mevcut mu ?</h2>
                        <p>Evet,SEO içerik çalışması hizmetimizde tam olarak istediğinizi yapmaktayız.Fakat SEO içeriği düzenlendikten sonrasında en üst sıraya çıkacaksınız veya bu alanda en popüler site olucaksınız diye bir garanti veremeyiz fakat daha fazla ziyaret alacağınızı ve daha fazla müşteriye veya kullanıcıya ulaşabileceğinizin garantisini verebiliriz.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single-question d-flex mb-50">
                    <span> Q.</span>
                    <div class="pera">
                        <h2>Bir logo yaptırmak istiyorum bu logoyu hem web sitemde hem de bir tabelada kullanmak istiyorum?</h2>
                        <p>Merhabalar, logo hizmetizimi tamamen vektörel olarak yapmaktayız o yüzden her alanda ve her boyuutta kullanmanız mecvut.Logo siparişi oluştururken lütfen hangi alanda kullanıcağınızda belirtiniz.(Birden fazla alanda kullanma seçeneği mevvuttur.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 ">
                <div class="more-btn text-center mt-20">
                    <a href="#" class="btn">Destek Al</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End ask questions -->
<!--? Testimonial Area Start -->
<section class="testimonial-area section-bg1">
    <div class="container">
        <div class="testimonial-wrapper">
            <div class="row align-items-center justify-content-center">
                <div class=" col-lg-10 col-md-12 col-sm-11">
                    <!-- Testimonial Start -->
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center mt-55">
                            <div class="testimonial-caption">
                                <img src="~/Content/Site/assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                <p>Bir websitesi yaptırdım ve cidden çok başarılı ve yeteneklisin.Ben memnun olana kadar sürekli ilgilendi çok teşekkürler ve başarılarınızın devamını dilerim.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                <div class="founder-img">
                                    <img src="#" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Hakan Zeybek</span>
                                    <p>Altındere Hukuk Bürosu</p>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial text-center mt-55" ">
                            <div class="testimonial-caption">
                                <img src="~/Content/Site/assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                <p>Merhabalar bir websitesi ve sosyal medya paketi satın aldım.Dediğiniz gibi çok hızlı ve kaliteli bir şekilde sorunsuz teslim aldım.Bu yolda güzel şeyler yapacağını düşünüyorum başarılar Oruç Han.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                <div class="founder-img">
                                    <img src="#" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Cenk Demir</span>
                                    <p>Boolock Internet Sitesi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial End -->
                </div>
            </div>
        </div>
    </div>
</section>

