
<form class="form-default" action="login-bg.mp4" method="POST">

    <div class="login-form">

        <!-- logo-login -->

        <h2>Giriş Yap</h2>
        <div class="form-input">
            <label for="name">E-Posta</label>
            <input type="text" name="text" placeholder="E-Posta">
        </div>
        <div class="form-input">
            <label for="name">Şifre</label>
            <input type="password" name="password" placeholder="Şifre">
        </div>
        <div class="form-input pt-30">
            <input type="submit" name="submit" value="Giriş Yap">
        </div>


    </div>
</form>
